*{
    padding:0;
    margin:0;
}
body{
    background: linear-gradient(to right, #3A1111, #C72C2C, #D62121);
}   
.wrapper{
    width:35%;
    padding:10px 180px;
    margin:auto;
    display:flex;
    column-gap: 40px;
}
h1{
    font-size: 6rem;
    margin:20px;
    color:white;
    text-align: center;
}

p{   
    margin-top: 50px;
    margin-left:50px;
    font-size: 3rem;
    color:white;
}
img{
    margin-top: 50px;
    width:250px; 
    border-radius: 10px;
}